@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Merriweather;

}
/* banner section style start here  */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    border-radius: 15px;
    background: rgba(0, 0,0, 0.5);
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 177px 344px;
}
.banner-content p{
   font-size: 32px;
font-weight: 400;
text-align: center;
}
.banner-content h1{
font-size: 72px;
font-weight: 900;
text-align: center;
}
/* off section style start here  */
.off-section{
width: 802.9px;
height: 806px;
/* border: 2px solid red; */
margin: 0 auto;
margin-top: 120px;
}
.off-section-content{
    display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
}
.off-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.off-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.off-section-content h3{
   color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.img-container{
    width: 802.9px;
height: 500px;
}
.img-container{
    width: 100%;
height: 100%;
}
 /* <!-- welcome section starts here  --> */
.welcome-container{
width: 1320px;
height: 600px;
border: 2px solid red;
margin: 0 auto;
 display: flex;
 background-color: rgba(0, 0,0, 0.6);
 background-image: url(../images/Vectorrr.png), url(../images/Group-70.png);
 background-position: left , right center;
 background-repeat: no-repeat;
 /* background-size: cover; */
 background-blend-mode: overlay;
        
}
.leftside-content{
    width: 50%;
    height: 600px;
    /* border: 5px solid green; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 126px;
}
.leftside-content h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;

}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;

}
.leftside-content{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
}

/* place section style starts here  */
.place-section-container{
    /* border: 2px solid red; */
    margin: 140px auto;
    width: 1320px;
    height: 482px;
    border-radius: 16px;

background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}
.place-section-content{
        padding: 100px 385px 214px;
}
.place-section-content span{
    color: rgb(255, 0, 0);
}
.place-section-content h3{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}
.place-section-content button{
    margin-top: 48px;
    width: 167px;
height: 56px;
background-color: rgb(255, 0, 0);
border-radius: 8px;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
border-style: none;
}
.btn{
    text-align: center;
}
/* new-section-container styles starts here  */
.new-section-container{
    /* border: 2px solid red; */
    width: 1320px;
height: 463px;
margin: 0 auto;
margin-top: 120px;
display: flex;
flex-direction:row;
        justify-content:space-between;
        /* align-items:center; */

}
.new-section-content{
    /* border: 2px solid green; */
    width: 393px;
height: 255px;
margin:104px 70px 104px 0;

}
.new-section-content p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.new-section-content h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.new-section-content small {
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
}
.image-container{
    box-sizing:border-box;
    border-radius: 50%;
    width: 463px;
height: 463px;
border: 15px solid rgb(255, 0, 0);
display: flex;
justify-content: center;
align-items: center;
}
.img{
    width: 364.84px;
height: 364.84px;
}
.other-content{
    width: 394px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.others{
    width: 276px;
height: 170px;
margin: 112px 0 181px 118px;

}
.others h2{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.others small{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;

}
.other-image{
    margin-top: 50px;
}
.holiday-section-container{
    /* border: 2px solid red; */
    width: 1320px;
height: 986.07px;
margin: 0 auto;
margin-top: 120px;
}
.holiday-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.holiday-section-content h5{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday-section-content h1 {
    .font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 91px;

}
.holiday-section-content p{
   color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
width: 1068px;
height: 96px;
left: 266px;
text-align: center;
margin-top: 30px;
}
.image-containers{
    width: 1320px;
height: 662.07px;
/* border: 2px solid green; */
margin-top: 67px;
position: relative;
}
.red-image{
    position: absolute;
    top: 65%;
    
}
.gift-box{
    position: absolute;
    width: 674.82px;
height: 577.96px;

}
.girl-pc{
    position: absolute;
    left: 61.5%;
    bottom: 34%;
}
.off{
    position: absolute;
    left:55% ;
    bottom: 42%;
}
.fortfolio-container{
    width: 1320px;
height: 1163px;
/* border: 2px solid rgba(255, 0, 0); */
margin: 0 auto;
margin-top: 120px;
}
.fortfolio-content h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.fortfolio-content h1{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-top: 30px;
}
.fortfolio-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 22px;
}
.portfolio-images{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
/* newsletter section style starts here  */
.newsletter-container{
width: 1320px;

height: 616px;
/* border: 2px solid red; */
margin: 0 auto;
margin-top: 120px;
border-radius: 16px;

background: rgba(255, 0, 0, 0.05);
}
.email-img{
    margin: 80px 586px 40px;
}
.newsletter-content{
    margin: 0 212px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.newsletter-content h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.newsletter-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 22px;
text-align: center;
}
.form{
    /* border: 2px solid green; */
    position: relative;
    margin: 48px 336px 80px;
     width: 648px;
     height: 72px;
     outline: none;


}
.inp{
    position: absolute;
     width: 648px;
height: 72px; 
z-index: -1; 
border-radius: 50px;

background: white;
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
padding-left: 15px;
/* outline: none; */
border-style: none;
}
.sub{
    position: absolute;
width: 210px;
height: 72px;
/* left: 914px; */
right:0;
z-index: 1;
border-radius: 0px 50px 50px 0px;

background: rgb(255, 0, 0);
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 24px;
border: 0;
}
/* footer styles  */
.footer-container{
    /* border:2px solid red; */
    width: 1600px;
height: 609px;
margin: 0 auto;
background: rgb(7, 2, 17);

}
.content{
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
/* border: 2px solid green; */
margin: 120px 275px 50px 140px;
}
.phone, .www{
  
    border: 1.5px dashed rgb(255, 255, 255);
}
.hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-right: 140px;
    margin-left: 140px;
}
.icons{
    display: flex;
    /* border: 2px solid yellow; */
    margin-top: 48px;
    justify-content:center;
    align-items: center;
    margin-bottom: 48px;
}
.icon{
    margin-right: 15px;
        border: 2.5px dashed rgba(255, 255, 255, 0.5);

}
.last-container{
    /* border: 2px solid blue; */
    width: 1600px;
    height: 200px;
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
display: flex;
justify-content: space-around;
margin-top: 50px;
}
.last-btn{
    width: 145px;
height: 29px;
border-style: none;
background: none;
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}